<div class="min-xl:px-96 text-center xl:px-20">
  <h1 class="text-5xl xl:text-4xl min-xl:my-32 xl:mt-32 xl:mb-16">
    Login Page
  </h1>
  <form>
    <div class="h-screen">
      <div
        class="grid grid-cols-1 mt-4 mb-24 min-xl:px-80 min-xl:gap-y-2 xl:gap-y-4"
      >
        <label for="email" class="text-left">Email</label>
        <input type="emai" id="email" placeholder="example@example.com" />

        <label for="password" class="text-left">Password</label>
        <input type="password" id="password" placeholder="·······" />

        <button type="submit" class="mt-8 mb-4">Submit</button>
        <button>Login with Google</button>
      </div>
    </div>
  </form>
</div>
