<!-- Header -->
<head>
  <title>Login</title>
  <meta 
    name="description" 
    content="Login to get access and manage to your tasks."
  >
</head>

<div class="min-xl:px-96 text-center xl:px-12">
  <h1 class="heading">Login Page</h1>
  <form>
    <div class="h-screen">
      <div class="login-section">
        <div class="text-left grid grid-cols-1 min-xl:px-20">
          <label for="email" class="label">Email</label>
          <input
            type="emai"
            id="email"
            [(ngModel)]="email"
            name="email"
            placeholder="example@example.com"
            class="input"
          />

          <br />

          <label for="password" class="label">Password</label>
          <input
            type="password"
            id="password"
            [(ngModel)]="password"
            name="password"
            placeholder="·······"
            class="input"
          />

          <a
            routerLink='/forgot-password'
            class="forgot-password"
            >Forgot password?</a
          >

          <button 
            type="submit" 
            class="mt-6 mb-4 sign-btn bg-teal-500"
            (click)="signInWithEmail($event)"
          >
            SUBMIT
          </button>

          <hr class="h-px my-8 border-0 bg-gray-400 min-md:my-16 min-xl:my-4" />

          <button class="sign-btn bg-white" (click)="auth.googleSignin()">
            <fa-icon [icon]="faGoogle" class="text-blue-500"></fa-icon> Login
            with Google
          </button>
          <button 
            class="sign-btn bg-white group" 
            (click)="auth.githubSignin()"
          >
            <fa-icon [icon]="faGithub" class="group-hover:text-white"></fa-icon>
            Login with Github
          </button>

          <p class="text-sm min-md:text-2xl min-xl:text-sm mt-4">
            Don't have an account?
            <a routerLink="/signup" class="hover:underline">Sign up</a>
          </p>
        </div>
        <h2 class="second-heading">
          Login to get access <br />
          to the #1 todolist in the market
        </h2>
      </div>
    </div>
  </form>
</div>
