<div class="mt-[14vh] min-xl:px-96 md:px-6 min-md:px-20">
  <!-- TODO: implement firebase here and edit this -->
  <app-task></app-task>
</div>

<div class="min-xl:px-96 md:px-6 min-md:px-20">
      
  <button
    class="hover:text-teal-400 pt-1 min-md:text-3xl min-xl:text-lg"
    [ngClass]="formBtn ? 'scale-0' : 'scale-100'"
    (click)="addForm()"
  >
    <fa-icon [icon]="faPlus" size="1x"></fa-icon> Add Task
  </button>

  <form
    [ngClass]="!formBtn ? 'scale-0' : 'scale-100'"
    class="task-form"
  >
    <hr class="border-0 bg-black h-px" />
    <input 
      type="text" 
      placeholder="Title" 
      [(ngModel)]="newTitle" 
      name="title" 
    />
    
    <p class="text-red-500" *ngIf="showErr">*The Title is required</p>
    
    <input
      type="text" 
      placeholder="Description" 
      [(ngModel)]="newDescription" 
      name="description" 
    />

    <div class="flex flex-col-1 gap-x-3">
      <button
        type="submit"
        (click)="addTask()"
        class="task-add-btn"
      >
        <fa-icon [icon]="faPlus" size="1x"></fa-icon> Add
      </button>

      <button type="submit" (click)="hideForm($event)" class="task-cancel-btn">
        Cancel
      </button>
    </div>
  </form>
</div>

<!-- TODO: Setup Todo list UI -->
