@tailwind components;

@layer components {
  .task-cancel-btn {
    @apply border-2 border-black bg-white hover:bg-black 
    hover:text-white px-4;
  }

  .task-add-btn {
    @apply border-2 border-black bg-teal-500 hover:bg-black 
    hover:text-teal-500 px-4;
  }

  .task-form {
    @apply grid grid-cols-1 gap-y-2 min-md:gap-y-4 
    min-xl:gap-y-2 min-xl:text-lg min-md:text-3xl;
  }
}
