<!-- TODO: Make a todolist component -->
<div class="mt-[10vh] px-96">
  <!-- TODO: implement firebase here and delete this -->
  <app-task [tasks]="tasks"></app-task>
</div>

<div class="px-96">
  <button
    class="hover:text-teal-400"
    [ngClass]="formBtn ? 'scale-0' : 'scale-100'"
    (click)="addForm()"
  >
    <fa-icon [icon]="faPlus" size="1x"></fa-icon> Add Task
  </button>

  <form
    action="submit"
    [ngClass]="!formBtn ? 'scale-0' : 'scale-100'"
    class="grid grid-cols-1 gap-y-2"
  >
    <hr class="border-0 bg-black h-px" />
    <input type="text" placeholder="Title" />
    <input type="text" placeholder="Description" />

    <div class="flex flex-col-1 gap-x-3">
      <button
        type="submit"
        (click)="addTask($event)"
        class="task-add-btn"
      >
        <fa-icon [icon]="faPlus" size="1x"></fa-icon> Add
      </button>

      <button type="submit" (click)="addTask($event)" class="task-cancel-btn">
        Cancel
      </button>
    </div>
  </form>
</div>

<!-- TODO: Setup Todo list UI -->
<p>todolist works!</p>
