<!-- TODO: Implement firebase and change this -->
<ul>
  <li
    *ngFor="let task of tasks"
    class="border-2 border-gray-400 rounded-md mb-4 px-3 py-4 text-right"
  >
    <div class="text-left">
      <input type="checkbox" class="peer accent-teal-800" />
      <label
        class="peer-checked:text-gray-600 peer-checked:line-through text-lg"
      >
        {{ task.title }}
      </label>
      <br />
      <label class="peer-checked:text-gray-600 peer-checked:line-through">
        {{ task.description }}
      </label>
    </div>
    <button
      (click)="delete(task.title)"
      class="border-2 border-black bg-red-500 px-2 py-1 hover:bg-black hover:text-red-500 uppercase font-semibold"
    >
      <fa-icon [icon]="faTrash"></fa-icon>
      Delete
    </button>
  </li>
</ul>
