<div class="mb-[50vh] mt-40 min-xl:px-96 md:px-12 min-md:px-20">
  <h1 class="font-display text-4xl text-center">Reset Password</h1>
  <div class="grid min-xl:grid-cols-2 xl:grid-cols-1">
    <div>
      <p class="label min-xl:mt-[30vh] min-md:mt-[20vh] mt-[10vh]">Your email</p>
      <input 
        type="email" 
        [(ngModel)]="email"
        name="email"
        placeholder="example@example.com" 
        class="input w-full my-4" 
      />
      <button 
        class="auth-buttons h-auto" 
        (click)="sendEmail()"
      >Send password reset link</button>
    </div>
    <h1 class="heading mt-[10vh] text-center font-display xl:scale-0 min-xl:scale-100">
      Check you email for the reset password link
    </h1>
  </div>
</div>