/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

@layer components {
  .auth-buttons {
    @apply px-6 py-3 uppercase font-semibold 
    tracking-wider border-2 border-black 
    bg-teal-400 text-black m-1
    transition hover:ease-in
    hover:bg-black hover:text-teal-400
    min-md:text-4xl min-xl:text-lg 
    min-xl:py-0 min-xl:h-10 sm:py-0
    sm:h-10;
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
