<!-- Header -->
<head>
  <title>JJTodo | The best todolist you need</title>
  <meta 
    name="description" 
    content="The #1 Todolist on the market.
     Organise your life easily with an easy to use and intuitive interface"
  >
</head>

<!-- Heading section -->
<div class="min-xl:px-96 text-center min-xl:mb-40">
  <h1 class="title">Stay organized and achieve your goals with ease</h1>

  <p class="description">
    With a simple and intuitive interface, JJTodo makes it easy to manage your
    time effectively and stay on top of your workload.
  </p>

  <button routerLink="/signup" class="auth-buttons mt-8">Start now!</button>
</div>

<!-- Review section -->
<div class="review-section">
  <p 
    [class.slide-right]="isReviewVisible" 
    class="slide-right-transition review" 
    style="transition-duration: 1.6s"
  >Over 1m+ reviews</p>
  <div 
    class="xl:mb-4 slide-right-transition review" 
    style="transition-duration: 1.8s;" 
    [class.slide-right]="isReviewVisible"
  >
    <fa-icon [icon]="faStar" size="lg"></fa-icon>
    <fa-icon [icon]="faStar" size="lg"></fa-icon>
    <fa-icon [icon]="faStar" size="lg"></fa-icon>
    <fa-icon [icon]="faStar" size="lg"></fa-icon>
    <fa-icon [icon]="faStar" size="lg"></fa-icon>
  </div>
  <div 
    class="space-x-4 slide-right-transition review" 
    [class.slide-right]="isReviewVisible"
    style="transition-duration: 1.6s"
  >
    <fa-icon  [icon]="faApple" size="3x"></fa-icon>
    <fa-icon [icon]="faGooglePlay" size="2x"></fa-icon>
    <fa-icon [icon]="faGlobe" size="2x"></fa-icon>
  </div>
</div>

<!-- Feature section -->
<section class="min-xl:px-96 bg-gray-800 text-white">
  
  <!-- task-management -->
  <div class="pt-[70vh]"></div>
  <div 
    class="feature-content min-xl:text-left"
  >
    <h3 
      class="feature-title task-management slide-right-transition"
      [class.slide-right]="isTaskManagementVisible"
      style="transition-duration: 1.6s"
    >Task Management</h3>
    <p 
      class="feature-description task-management slide-right-transition"
      [class.slide-right]="isTaskManagementVisible"
      style="transition-duration: 1.6s"
    >With an easy and interactive interface JJTodo 
      allows <br /> you to manage your daily tasks with ease.</p>
  </div>
  
  <!-- Remeinder -->
  <div class="pt-[70vh]"></div>
  <div
    class="feature-content min-xl:text-right"
  >
    <h3
      class="feature-title remeinder slide-left-transition"
      [class.slide-right]="isRemeinderVisible"
    >Remeinder</h3>
    <p
      class="feature-description remeinder slide-left-transition"
      [class.slide-right]="isRemeinderVisible"
    >You never have to forget any important task you 
      might <br /> have to do ever with JJTodo.</p>
  </div>
  
  <!-- productivity -->
  <div class="pt-[70vh]"></div>
  <div class="feature-content min-xl:text-left">
    <h3 
      class="feature-title productivity slide-right-transition"
      [class.slide-right]="isProductivityVisible"
    >Increased productivity</h3>
    <p
      class="feature-description slide-right-transition"
      [class.slide-right]="isProductivityVisible"
    >
      JJTodo helps you break down larger tasks
      into smaller, <br /> manageable steps, making them 
      less overwhelming.
    </p>  
  </div>
  <div class="pt-[70vh]"></div>
</section>

<!-- Feedback section -->
<section class='min-xl:px-96 sm:px-8 min-md:px-20 my-20'>
  <h2
    class="text-4xl min-md:text-7xl min-xl:text-4xl text-center"
  >Trusted by millions 
    <span class="text-teal-500">World Wide</span>
  </h2>
  
  <div class="columns-3 xl:columns-1">
    
    <!-- John Wick -->
    <div>
      <br/>
      <blockquote class="feedback-quote">
          <svg aria-hidden="true" class="w-10 h-10 text-gray-400" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/></svg>
          <p>
            "These are not real customers or users and just being 
            used as place holders."
          </p>
      </blockquote>
      <div class="text-right">
          <cite class="feedback-author">- John Wick</cite>
      </div>
    </div>
    
    <!-- Big guy -->
    <div class="pt-6">
      <blockquote class="feedback-quote">
          <svg aria-hidden="true" class="w-10 h-10 text-gray-400" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/></svg>
          <p>
            "Man I just love this app so much. I use this app to manage 
            my daily tasks and it has helped me a lot."
          </p>
      </blockquote>
      <div class="text-right">
          <cite class="feedback-author">- Big guy</cite>
      </div>
    </div>
    
    <!-- Mr Beast -->
    <div class="pt-6">
      <blockquote class="feedback-quote">
          <svg aria-hidden="true" class="w-10 h-10 text-gray-400" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/></svg>
          <p>
            "I want to give away $10000 for someone who 
            uses this app cause this is an amaizing app."
          </p>
      </blockquote>
      <div class="text-right">
          <cite class="feedback-author">- Mr Beast</cite>
      </div>
    </div>
    
  </div>
    

</section>