<!-- Heading section -->
<div class="min-xl:px-96 text-center min-xl:mb-40">
  <h1 class="title">Stay organized and achieve your goals with ease</h1>

  <p class="description">
    With a simple and intuitive interface, JJTodo makes it easy to manage your
    time effectively and stay on top of your workload.
  </p>

  <button routerLink="/signup" class="auth-buttons mt-8">Start now!</button>
</div>

<!-- Review section -->
<div class="review-section">
  <p 
    [class.slide-right]="isReviewVisible" 
    class="slide-right-transition review" 
    style="transition-duration: 1.4s"
  >Over 1m+ reviews</p>
  <div 
    class="xl:mb-4 slide-right-transition review" 
    style="transition-duration: 1s;" 
    [class.slide-right]="isReviewVisible"
  >
    <fa-icon [icon]="faStar" size="lg"></fa-icon>
    <fa-icon [icon]="faStar" size="lg"></fa-icon>
    <fa-icon [icon]="faStar" size="lg"></fa-icon>
    <fa-icon [icon]="faStar" size="lg"></fa-icon>
    <fa-icon [icon]="faStar" size="lg"></fa-icon>
  </div>
  <div 
    class="space-x-4 slide-right-transition review" 
    [class.slide-right]="isReviewVisible"
    style="transition-duration: 1.2s"
  >
    <fa-icon  [icon]="faApple" size="3x"></fa-icon>
    <fa-icon [icon]="faGooglePlay" size="2x"></fa-icon>
    <fa-icon [icon]="faGlobe" size="2x"></fa-icon>
  </div>
</div>

<!-- Feature section -->
<section class="px-96 bg-gray-800 text-teal-400">
  <div 
    class="pt-[70vh] grid grid-col-1 gap-y-4 "
  >
    <h3 
      class="text-4xl task-management slide-right-transition"
      [class.slide-right]="isTaskManagementVisible"
    >Task Management</h3>
    <p 
      class="text-xl slide-right-transition"
      [class.slide-right]="isTaskManagementVisible"
    >With an easy and interactive interface JJTodo 
      allows you to manage your daily tasks with ease.</p>
  </div>
  <img alt="todolist-task" />
  <div
    class="py-[70vh] grid grid-col-1 gap-y-4 text-right"
  >
    <h3
      class="text-4xl remeinder slide-left-transition"
      [class.slide-right]="isRemeinderVisible"
    >Remeinder</h3>
    <p
      class="text-xl slide-left-transition"
      [class.slide-right]="isRemeinderVisible"
    >You never have to forget any important you 
      might have to do ever with JJTodo.</p>
  </div>
</section>